/*Vert Social Icon Bar*/
.my-social-navbar-vert {
  visibility: hidden;
  position: fixed;
  z-index: 9999;
  top: 10em;
  list-style-type: none;
  text-align: center; }

.my-social-navbar-vert i {
  width: 2em;
  padding: 0.5em;
  font-size: 1.5em;
  cursor: pointer;
  transition: 200ms linear all; }

.my-social-navbar-vert i:hover {
  width: 2.3em; }

.my-social-navbar-vert a {
  color: white; }

/*Extra Customization*/
.fa-facebook {
  background-color: #3B5998; }

.fa-twitter {
  background-color: #55ACEE; }

.fa-linkedin {
  background-color: #0077B5; }

.fa-envelope {
  background-color: #202020; }

/************/
/* Info Section */
.info {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1.2px solid #ECF0F1; }
  .info div {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: inline-block; }
  .info div:nth-of-type(2) {
    margin-top: 2em; }
  .info i {
    font-size: 4em; }

.info:nth-of-type(3) {
  border-bottom: none; }

@media screen and (min-width: 768px) {
  .info {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    padding: 20em 0; }
    .info div {
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1; }
  .info:nth-of-type(odd) .img-container i {
    margin-right: 4em; }
  .info:nth-of-type(even) .img-container {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; }
    .info:nth-of-type(even) .img-container i {
      margin-left: 4em; } }

@-webkit-keyframes my-cta {
  0% {
    padding: 1.3em 1.5em; }
  50% {
    padding: 1.5em 1.5em; }
  100% {
    padding: 1.5em 1.7em; } }

@keyframes my-cta {
  0% {
    padding: 1.3em 1.5em; }
  50% {
    padding: 1.5em 1.5em; }
  100% {
    padding: 1.5em 1.7em; } }

* {
  box-sizing: border-box;
  margin: 0;
  border: 0 none;
  position: relative;
  outline: none; }

*:before, *:after {
  box-sizing: inherit; }

body {
  background-color: #046380; }

.grid {
  margin: 0 3em 2em 3em; }
  .grid section {
    padding: 10em 0; }

.hidden {
  display: none; }

.visually-hidden {
  opacity: 0; }

.nav-item-hidden {
  opacity: 0;
  transition: 700ms ease-in-out all; }

@media screen and (min-width: 768px) {
  .grid {
    margin: 0 4em; } }

* {
  font-family: 'Open Sans', sans-serif; }

.grid {
  color: #ECF0F1; }
  .grid p {
    margin: 0.5em; }

@media screen and (min-width: 768px) {
  header .jssor-container #jssor_1 {
    height: 600px; } }

@media screen and (min-width: 1024px) {
  header {
    margin-top: 4em; } }

.nav {
  position: fixed;
  top: 0;
  width: 100%;
  color: #046380; }

.nav-brand {
  font-size: 1.3em;
  left: 1em; }

.nav-inner ul li {
  list-style-type: none;
  padding: 0.9em; }
  .nav-inner ul li a {
    text-decoration: none;
    color: #046380; }

.nav-lg {
  display: none;
  box-shadow: 1px 1px 2px #046380; }

.navbar-container {
  height: 3.5em;
  background: #ECF0F1;
  box-shadow: 1px 1px 2px #000;
  z-index: 99; }
  .navbar-container .nav-brand {
    top: 0.75em; }
  .navbar-container .nav-toggle-container {
    z-index: 100;
    text-align: right; }
    .navbar-container .nav-toggle-container #nav-toggle {
      right: 4em; }
    .navbar-container .nav-toggle-container #nav-toggle span {
      position: absolute;
      left: 50%;
      right: 50%; }
    .navbar-container .nav-toggle-container #nav-toggle span, .navbar-container .nav-toggle-container #nav-toggle span:before, .navbar-container .nav-toggle-container #nav-toggle span:after {
      cursor: pointer;
      border-radius: 1px;
      height: 5px;
      width: 35px;
      background: #ECF0F1;
      position: absolute;
      display: block;
      content: '';
      transition: all 500ms ease-in-out; }
    .navbar-container .nav-toggle-container #nav-toggle span:before {
      top: -10px; }
    .navbar-container .nav-toggle-container #nav-toggle span:after {
      bottom: -10px; }
    .navbar-container .nav-toggle-container #nav-toggle.active span {
      background-color: transparent; }
    .navbar-container .nav-toggle-container #nav-toggle.active span:before, .navbar-container .nav-toggle-container #nav-toggle.active span:after {
      top: 0; }
    .navbar-container .nav-toggle-container #nav-toggle.active span:before {
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg); }
    .navbar-container .nav-toggle-container #nav-toggle.active span:after {
      -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg); }

.nav-links-mobile-container {
  display: none;
  z-index: 98;
  position: fixed;
  top: -10.7em;
  width: 100%;
  background: #ECF0F1;
  color: #046380;
  transition: 300ms ease-in-out all; }
  .nav-links-mobile-container .nav-links-mobile {
    padding: 0; }
  .nav-links-mobile-container ul li {
    opacity: 0;
    text-align: center; }

.nav-links-mobile-container.enter {
  display: block;
  opacity: 0;
  transition: 300ms ease-in-out all; }

.nav-links-mobile-container.enter.enter-active {
  opacity: 1;
  -webkit-transform: translateY(14em);
          transform: translateY(14em); }

.nav-links-mobile-container.leave {
  display: block;
  opacity: 0;
  transition: 300ms ease-in-out all; }

.nav-links-mobile-container.leave.leave-active {
  display: none; }

.nav-links-mobile-container.active ul li {
  opacity: 1; }

@media screen and (max-height: 400px) {
  .nav-links-mobile-container {
    max-height: 75%;
    overflow-y: scroll; } }

@media screen and (min-width: 768px) {
  .nav-lg {
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #ECF0F1;
    color: #046380;
    z-index: 999; }
    .nav-lg .nav-inner {
      position: relative; }
      .nav-lg .nav-inner ul, .nav-lg .nav-inner li {
        display: inline-block; }
      .nav-lg .nav-inner ul li {
        list-style-type: none;
        cursor: pointer;
        padding: 0.9em;
        transition: .25s linear all; }
        .nav-lg .nav-inner ul li a {
          color: #046380;
          transition: .25s linear all; }
      .nav-lg .nav-inner ul li:hover a {
        color: #046380; }
  .nav-mobile {
    display: none; } }

@media screen and (min-width: 1024px) {
  .nav-lg .nav-inner {
    left: 1em; }
    .nav-lg .nav-inner ul li {
      padding: 1.7em; } }

#cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin-bottom: 3em; }
  #cards .card-container {
    margin: 1em auto;
    display: inline-block;
    -moz-flex: 3;
    -ms-flex: 3;
    -webkit-box-flex: 3;
            flex: 3 1 auto; }
    #cards .card-container .card-inner figure {
      margin: 0 auto;
      width: 15em;
      height: 18em; }
      #cards .card-container .card-inner figure img {
        width: inherit; }
    #cards .card-container .card-inner figcaption {
      margin: 0 1em;
      text-align: center; }

@media screen and (min-width: 432px) {
  #cards .card-container .card-inner figure {
    width: 20em;
    height: 22em; } }

@media screen and (min-width: 768px) {
  #cards .card-container {
    -webkit-box-flex: 1 1 22em;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1 1 22em; } }

#quote {
  margin: 4em 0;
  text-align: center; }
  #quote q {
    font-size: 1.1em; }

@media screen and (min-width: 768px) {
  #quote {
    margin: 15em 0; }
    #quote p {
      text-align: right;
      margin-right: 6em; } }

.cta {
  text-align: center; }
  .cta label {
    margin-right: 0.5em; }
  .cta input {
    color: black;
    margin-bottom: 2em; }

@media screen and (min-width: 768px) {
  .cta p {
    font-size: 1.2em; } }

footer {
  padding: 3em;
  background-color: #ECF0F1;
  color: #046380;
  text-align: center; }
