* 
	font-family: 'Open Sans', sans-serif


.grid
	color: $light-grey

nav, section, footer
	// font-family: 'Montserrat', sans-serif

header
	h1
		// font-family: 'Raleway', sans-serif

p
	margin: 0.5em

h2
	margin: 0 0.3em