/*Vert Social Icon Bar*/

.my-social-navbar-vert
	visibility: hidden
	position: fixed
	z-index: 9999
	top: 10em
	list-style-type: none
	text-align: center


.my-social-navbar-vert i 
	width: 2em
	padding: 0.5em
	font-size: 1.5em
	cursor: pointer
	transition: 200ms linear all


.my-social-navbar-vert i:hover 
	transform: scaleX(1.2)
	transform-origin: left


.my-social-navbar-vert a 
	color: white


/*Extra Customization*/

.fa-facebook 
	background-color: #3B5998


.fa-twitter 
	background-color: #55ACEE


.fa-linkedin 
	background-color: #0077B5


.fa-envelope 
	background-color: #202020 

/************/

/*Carousel*/

.jcarousel 
    position: relative
    overflow: hidden
    // width: 100%

.jcarousel ul 
    width: 20000em
    position: relative

    list-style: none
    margin: 0
    padding: 0


.jcarousel li 
    float: left
    // width: 100%
    // height: 10em

.sub-head
	position: absolute
	top: 4em
	left: 50%
	transform: translateX(-50%)
	z-index: 1
	font-size: 1.5em
	width: 12em
	color: $light-grey

// .sub-head-first
// 	top: 6em
// 	left: 30em

// .sub-head-second
// 	top: 6em
// 	left: 40em

.sub-head-third
	color: $black

img
    width: 100%
    height: 35em 

@media screen and ($mobile-fix)
	.sub-head
		width: inherit

@media screen and ($tablet)
	img
		height: 40em

@media screen and ($desktop)
	.sub-head
		left: 40%
		font-size: 1.7em
	img
		height: 45em
/************/

/* Info Section */

.info
	height: 100vh
	text-align: center
	border-bottom: 1.2px solid $light-grey
	

.info-inner
	// transition: 1250ms ease-in-out all
	// transition-property: opacity
	// opacity: 0
	width: 100%
	position: absolute
	top: 50%
	transform: translateY(-50%)
	display: flex
	flex-flow: column
	align-items: center
	div
		flex: 1
		display: inline-block
	div:nth-of-type(2)
		margin-top: 2em
	i
		font-size: 4em
	p
		font-size: 1.2em


.info-inner.in-view
	opacity: 1


.info:nth-of-type(3)
	// border-bottom: none

@media screen and ($tablet)
	.info
		padding: 20em 0

	.info-inner
		flex-flow: row wrap
		div
			flex: 1
	
	.info:nth-of-type(odd)
		.img-container
			text-align: left
			i
				margin-left: 1em
				

	.info:nth-of-type(even)
		.img-container
			order: 2
			text-align: right
			i
				margin-right: 1em
				




