//Viewports

$mobile-height-fix: 'max-height: 400px'
$mobile-fix2: 'min-width: 400px'
$mobile-fix1: 'min-width: 432px'
$mobile-brkpnt1: 'min-width: 570px'
$tablet: 'min-width: 768px'
$desktop: 'min-width: 1024px'

//Colors

$light-grey: #ECF0F1
$sandstone-med: #E6E2AF
$sandstone-dark: #A7A37E
$sandstone-light: #EFECCA
$dark-blue: #046380
$dark-green: #002F2F

$black: #080b0c

//Layout

$pad: 2em