.nav
	position: fixed
	top: 0
	width: 100%
	color: $black
.nav-brand
	position: absolute
	top: 0.25em
	left: 1em
	font-size: 1.5em
.nav-mobile
	.nav-brand
		top: 0.4em
.nav-inner
	ul
		li
			list-style-type: none
			padding: 0.9em
			a
				text-decoration: none
				color: $black
.nav-lg
	display: none
	box-shadow: 1px 1px 2px $black

.navbar-container
	height: 3.5em
	background: $light-grey
	box-shadow: 1px 1px 2px #000
	z-index: 99
	.nav-toggle-container
		z-index: 100
		text-align: right
		
		#nav-toggle
			right: 4em
			top: 0.9em
		#nav-toggle span
			position: absolute
			left: 50%
			right: 50%
		#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after
			cursor: pointer
			border-radius: 1px
			height: 5px
			width: 35px
			background: $black
			top: 11px
			position: absolute
			display: block
			content: ''
			transition: all 500ms ease-in-out


		#nav-toggle span:before
			top: -10px

		#nav-toggle span:after
			bottom: -10px

		#nav-toggle.active span
			background-color: transparent

		#nav-toggle.active span:before, #nav-toggle.active span:after
			top: 0

		#nav-toggle.active span:before
			transform: rotate(45deg)

		#nav-toggle.active span:after
			transform: rotate(-45deg)


.nav-links-mobile-container
	display: none
	z-index: 98
	position: fixed
	top: -10.7em
	width: 100%
	background: $light-grey
	color: $black
	transition: 300ms ease-in-out all
	.nav-links-mobile
		padding: 0
	ul li
		opacity: 0
		text-align: center

.nav-links-mobile-container.enter
	display: block
	opacity: 0
	transition: 300ms ease-in-out all

.nav-links-mobile-container.enter.enter-active
	opacity: 1
	transform: translateY(14em)

.nav-links-mobile-container.leave
	display: block
	opacity: 0
	transition: 300ms ease-in-out all

.nav-links-mobile-container.leave.leave-active
	display: none

.nav-links-mobile-container.active ul li
	opacity: 1

@media screen and ($mobile-height-fix)
	.nav-links-mobile-container
		max-height: 75%
		overflow-y: scroll


@media screen and ($tablet)
	.nav-brand
		// top: 0.25em
	.nav-lg
		display: block
		position: fixed
		top: 0
		width: 100%
		background-color: $light-grey
		color: $black
		z-index: 999
		.nav-inner
			position: relative
			text-align: right
			ul, li 
				display: inline-block
			ul
				margin-right: 2em
				li
					list-style-type: none
					cursor: pointer
					padding: 0.9em
					transition: .25s linear all
					a
						color: $black
						transition: .25s linear all
				li:hover a
					color: $black
	.nav-mobile
		display: none


@media screen and ($desktop)
	.nav-brand
		top: 0.7em
	.nav-lg
		.nav-inner
			left: 1em
			ul
				li
					padding: 1.7em
					transition: 250ms ease-in-out all
					border-bottom: 2px solid transparent
				li:hover
					border-bottom: 2px solid $black
					font-weight: bold 




