.cta
	text-align: center
	.cta-button-container
		margin-top: 2em
		margin-bottom: 3em
	p
		padding-top: 3em
		margin-bottom: 3em
	label
		margin-right: 0.5em
	input
		color: black
		padding: 5px
		

	button
		transition: 150ms ease-in-out all
		font-size: 1.5em
		padding: 0.5em
		color: $black
		background-color: $light-grey



@media screen and ($tablet)
	.cta
		p, label, input
			font-size: 1.3em
	button:hover
		transform: translateY(-0.2em)
		box-shadow: 3px 2px 2px 2px rgba(128, 128, 128, 0.5)



